body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #d4e0e1, #d4e0ec);
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.95)); /* Degradado suave */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin: 0 0 20px;
}

p {
    margin: 10px 0;
}

.back-to-home {
    margin-top: 20px;
}

.volver {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    display: block; /* Hacer el enlace un bloque */
    margin-top: 20px; /* Espaciado desde el último párrafo */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 5px;
    width: 17%;
}

.volver:hover {
    background-color: #007bff;
    color: #eee;
    transition: .5s ease;
}

@media screen and (max-width: 900px), screen and (max-height:800px) {
    .volver {
        width: 50%;
    }
}


@media screen and (max-width: 450px), screen and (max-height:800px) {
    .volver {
        width: 75%;
    }
}