/* Estilos para el footer */
/*backgroud footer #343841
/*backgroud franja2 #212122*/

footer {
    display: flex;
    flex-direction: column;
    /*margin: auto;*/
    width: 100%;
    height: 25%;
    background-color: #343841;
}

.texto a, .texto {
    text-decoration: none;
    color: #eee;
}

.titulo, .pie p {
    margin: 0;
    padding: 0;
    color: #eee;
}

.titulo {
    font-weight: 600;
    font-size: 1rem;
}

.tabla {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.franja1 {
    width: 100%;
    height: 70%;
}

.franja2 {
    background-color: #212122;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 30%;
}

.franja2 .pie p {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #eee;
    font-size: 0.95rem;
}

@media screen and (max-width:1080px) {
    footer {
        margin-top:76px;
    }
}


@media (max-width:540px){
    footer p, #col2 a {
        font-size: 0.75rem;
    }

    .tabla {
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .franja2 .pie p {
        font-size: 0.7rem;
    }
}


@media screen and (max-height:700px), screen and (max-width:400px) {
    footer {
        display: flex;
        justify-content: center;
        height: 100%;
        margin-top: 150px;
    }

    .franja1 .limit_hor .tabla {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 0;
    }

    .limit_hor {
        height: 100%;
    }
}

@media screen and (max-height:480px){
    footer {
        display: flex;
        justify-content: center;
        height: 100%;
        margin-top: 200px;
    }

    .franja1 .limit_hor .tabla {
        display: flex;
        height: 100%;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        padding: 0;
    }
}