/* Estilos para el footer */
/*backgroud footer #343841
/*backgroud franja2 #212122*/

footer {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    height: 30%;
    background-color: #343841;
}

.texto a, .texto {
    text-decoration: none;
    color: #eee;
}

.titulo, .pie p {
    margin: 0;
    padding: 0;
    color: #eee;
}

.titulo {
    font-weight: 600;
    font-size: 1rem;
}

.tabla {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.franja1 {
    width: 100%;
    height: 70%;
}

.franja2 {
    background-color: #212122;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 30%;
}

.franja2 .pie p {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #eee;
}

@media (max-width:420px){
    footer p, #col2 a {
        font-size: 0.8rem;
    }
}