/* Estilos para el footer */

footer {
    background-color: #1e3a8a;
    color: #fff;
    text-align: center;
    padding: 13px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-links {
    margin-bottom: 20px;
  }
  
  .footer-link {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;
    transition: color 0.3s ease-in-out;
  }
  
  .footer-link:hover {
    color: #aaa;
  }
  
  .footer-social {
    margin-top: 20px;
  }
  
  .social-link {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
    transition: color 0.3s ease-in-out;
  }
  
  .social-link:hover {
    color: #aaa;
  }
  
  .footer-text {
    font-size: 14px;
  }
  