body {
    font-family: Arial, sans-serif;
    background: #d4e0ec;
    color: #000; /* Texto oscuro */
    height: 100vh;
    margin: 0;
}
  .container {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.95)); /* Degradado suave */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 75px;
  }
  .pageContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75%;
    min-height: 40%;
  }
  
  h1 {
    margin: 0 0 20px;
  }
  .fields {
    text-align: left;
    margin-left: 20px; /* Añadido margen izquierdo para espacio estético */
    margin-right: 40px; /* Añadido margen izquierdo para espacio estético */
  }
  label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
  }
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-right: 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  #id_tipo {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
  }

  .institution-logo {
    display: block;
    max-width: 200px; /* Ancho máximo en píxeles */
    height: auto; /* Altura automática para mantener las dimensiones originales */
    margin: 0 auto; /* Centra horizontalmente */
    margin-top: -20px; /* Posiciona la imagen en la parte superior */
    text-align: center;
  }
  .rcp-container {
    text-align: center;
  }
  .g-recaptcha {
    display: inline-block;
  }
  input[type="submit"] {
    background-color: #0056b3;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  input[type="submit"]:hover {
    background-color: #0056b3;
  }

  @media screen and (max-width:825px){
    .pageContainer {
      margin-top: 150px;
    }
  }
  

  @media (max-height:825px) {
    body {
      margin-top: 150px;
    }

    .pageContainer, .container {
      margin-top: 0;
    }
  }

  @media screen and (max-height:480px){
    .pageContainer {
      margin-top: 200px;
    }

    .pageContainer .container {
      margin-top: 75px;
    }
  }