body {
    font-family: Arial, sans-serif;
    background: #d4e0ec;
    color: #333; /* Texto más oscuro*/

    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}
.container {
    max-width: 1000px;
    margin: 20px auto; /* Centrar contenedor */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.95));
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
}
.pageContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    min-height: 40%;
}
.titulo {
    margin-top: 0;
    font-size: 24px;
    color: #007bff;
    text-align: center;
}
.volver {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    display: block; /* Hacer el enlace un bloque */
    margin-top: 20px; /* Espaciado desde el último párrafo */
    text-align: center;
}
.volver:hover {
    text-decoration: underline;
}