body {
    position: relative;
    font-family: Arial, sans-serif;
    background: #d4e0ec;
    color: #333; /* Texto más oscuro*/
    height: 100vh;
    margin: 0;
}
.container {
    max-width: 1000px;
    margin: 20px auto; /* Centrar contenedor */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.95));
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
}

.pageContainer {
    position: absolute;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    min-height: 40%;
    top: 15%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.titulo {
    margin-top: 0;
    font-size: 24px;
    color: #007bff;
    text-align: center;
}

.volver {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    display: block; /* Hacer el enlace un bloque */
    margin-top: 20px; /* Espaciado desde el último párrafo */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 5px;
    width: 17%;
}
.volver:hover {
    background-color: #007bff;
    color: #eee;
    transition: .5s ease;
}


@media screen and (max-width: 900px), screen and (max-height:800px) {

    .desc-tabla-dni, .titulo-tabla, h1 {
        display: none;
    }

    .pageContainer {
        margin-top: 10%;
        width: 100%;
    }

    .container {
        width: 90%;
        margin-left: 0;
        margin-right: 0;
    }

    .volver {
        width: 35%;
    }
}

@media screen and (max-width: 429px), screen and (max-height:600px) {
    
    .pageContainer {
        margin-top: 15%;
    }

    .container {
        width: 80%;
    }

    .volver {
        width: 75%;
    }
}


@media screen and (max-width: 375px), screen and (max-height:450px) {
    
    .pageContainer {
        margin-top: 25%;
    }

}