{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device.width, initial-scale=1.0">
        <title>Error en la B&uacute;squeda</title>
        <link type="text/css" href='{% static "css/error.css" %}' rel="stylesheet">
        <link type="text/css" href='{% static "css/header.css" %}' rel="stylesheet">
    </head>
    <body>
        {% include "header.html" %}
        <div class="container">
           <b style="font-size: medium;">{{ error_message }}</b>
            <div class="back-to-home">
                <a href="/">Volver al formulario</a>
            </div>
        </div>
    </body>
</html>