{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device.width, initial-scale=1.0">
    <title>Resultados de la B&uacute;squeda</title>
    <link type='text/css' href='{% static "css/header.css" %}' rel='stylesheet'>
    <link type='text/css' href='{% static "css/resultado.css" %}' rel='stylesheet'>
</head>
<body>
    
    <div class="pageContainer">
        <div class="container">
            <h1 class="titulo">Informaci&oacute;n encontrada<br></h1>
            <h2 class="titulo2">Alumno: <span>{{Nombre}}</span></h2>
            <p><span class="subtitulo">Programa: </span>{{curso.nombre_prog}}</p>
            <p><span class="subtitulo">Nombre: </span>{{curso.nombre}}</p>
            <p><span class="subtitulo">Nota: </span>{{curso.nota}}</p>
            <p><span class="subtitulo">Horas: </span>{{curso.horas}}</p>
            <p><span class="subtitulo">Fecha de Inicio: </span>{{curso.fecha_inicio}}</p>
            <p><span class="subtitulo">Fecha de Cierre: </span>{{curso.fecha_fin}}</p>
            <a href="/" class="volver">Volver al formulario</a>
        </div>
    </div>

    {% include "header.html" %}
</body>

</html>