{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device.width, initial-scale=1.0">
    <title>Resultados de la B&uacute;squeda</title>
    <link type='text/css' href='{% static "css/resultado.css" %}' rel='stylesheet'>
</head>
<body>
    <div class="pageContainer">
        <div class="container">
            <h1 class="titulo">Cursos encontrados <br>&excl;Felicitaciones por tu esfuerzo!</h1>
            <table class="table-result" border="1px">
                <thead>
                    <tr>
                        <th colspan="4">Nombre: <!--NOMBRE DEL PERSONA--> </th>
                        <th colspan="2">DNI: <!--NÚMERO DE DNI DE LA PERSONA--></th>
                    </tr>
                    <tr>
                        <th>Programa</th>
                        <th>Nota</th>
                        <th>Horas</th>
                        <th>Cod. validaci&oacute;n</th>
                        <th>Fecha de Inicio</th>
                        <th>Fecha de Cierre</th>
                    </tr>
                </thead>
                <tbody>
                    {% for lenght in cursos %}
                    <tr>
                        <td> {{ programa }} </td>
                        <td> {{ nota }} </td>
                        <td> {{ horas }} </td>
                        <td> {{ codigo }} </td>
                        <td> {{ fechaInicio }} </td>
                        <td> {{ fechaFin }} </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="/" class="volver">Volver al formulario</a>
        </div>
    </div>
</body>

</html>