{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device.width, initial-scale=1.0">
    <title>Resultados de la B&uacute;squeda</title>
    <link type='text/css' href='{% static "css/header.css" %}' rel='stylesheet'>
    <link type='text/css' href='{% static "css/resultado.css" %}' rel='stylesheet'>
</head>
<body>
    
    <div class="pageContainer">
        <div class="container">
            <h1 class="titulo">Curso encontrado <br>&excl;Felicitaciones por tu esfuerzo</h1>
            
                            <!--<td data-cell="Programa"> {{ curso.nombre_prog }} </td>
                            <td data-cell="Nombre de Curso"> {{ curso.nombre }} </td>
                            <td data-cell="Nota"> {{ curso.nota }} </td>
                            <td data-cell="Horas"> {{ curso.horas }} </td>
                            <td data-cell="Fecha de Inicio"> {{ curso.fecha_inicio }} </td>
                            <td data-cell="Fecha de Cierre"> {{ curso.fecha_fin }} </td>-->
            </div>
            <a href="/" class="volver">Volver al formulario</a>
        </div>
    </div>

    {% include "header.html" %}
</body>

</html>